<h1>Editando: {{user.name}}</h1>
<form action="/users/update" method="post" class="form">
    <input type="hidden" name="id" value="{{user.id}}">
    <div class="form-control">
        <label for="name"> Nome: </label>
        <input type="text" name="name" id="" placeholder="Digite o nome do usuário" value="{{user.name}}">
    </div>
    <div class="form-control">
        <label for="name"> profissão: </label>
        <input type="text" name="occupation" id="" placeholder="Digite a profissão" value="{{user.occupation}}">
    </div>
    <div class="form-control form-checkbox">
        {{#if user.newletter}}
            <input type="checkbox" name="newletter" checked>
        {{else}}
            <input type="checkbox" name="newletter">
        {{/if}}
        <label for="newsletter"> Enviar promoções? </label>
    </div>
    <input type="submit" value="Editar">
</form>
<div class="address-container">
    <h2>Endereço:</h2>
    <form action="/address/create" method="post">
        <input type="hidden" name="UserId" value="{{user.id}}">
        <div class="form-control">
            <label for="street">rua:</label>
            <input type="text" name="street"  placeholder="digite a rua">
        </div>
        <div class="form-control">
            <label for="number">numero:</label>
            <input type="text" name="number"  placeholder="digite a numero">
        </div>
        <div class="form-control">
            <label for="city">cidade:</label>
            <input type="text" name="city"  placeholder="digite a cidade">
        </div>
        <input type="submit" value="Incluir endereço">
    </form>
    <div class="address-list">
        <h2>Lista de endereçõs</h2>
        {{#each user.Addresses}}
            <div>
                #{{this.id}} - 
                {{this.street}} - 
                {{this.number}} - 
                {{this.city}}
            </div>
            <form action="/address/delete" method="post">
                <input type="hidden" name="id" value="{{this.id}}">
                <input type="hidden" name="UserId" value="{{this.UserId}}">
                <input type="submit" value="Excluir">
            </form>
        {{/each}}
    </div>
</div>